.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: white;
  border-radius: 100px;
}

.header{
  text-align: center;
  padding-top: 20px;
  margin-bottom: 50px;
}

.btn{
  float: right;
  background-color: black;
  color: white;
}
